pandas
ipykernel
textblob
nltk
scikit-learn
torch
torchvision
torchaudio
torchtext
datasets
tokenizers
torchmetrics
tensorboard
altair
wandb
spacy
torchinfo

## RAG
langchain-community 
langchain-core
langchain 
langchain-groq
bs4

## langchain
langchain_google_genai
langchain_openai
langchain_groq
langchain_anthropic
langchain_huggingface
langchain_core
grandalf